/* You can add global styles to this file, and also import other style files */
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";
body {
    background: #e6bb2f;
  }
  
  a {
    cursor: pointer;
  }
  
  .navbar {
    margin-bottom: 30px;
  }
  
  .card {
    border: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    margin-bottom: 30px;
    border-radius: 20px;
  
  }
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .w-60 {
    width: 60px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 10px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .social-links li a {
    -webkit-border-radius: 50%;
    background-color: rgba(198, 36, 36, 0.85);
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 15px;
    font-size: 12px;
  }
  
  a {
    color: white;
  }
  i {
  color: black;
  }
  

  img{
    width: 75px;
    height: 75px;
    text-align: center;
    border-radius: 30px;
  }